# Exclude everything
/*

# Specific includes

## Build System/Scripts
!NuGet.Config
!Directory.Build.props
!build.sh
!build.ps1
!build.cmd

## Markdowns
!*.md
!LICENSE

## important Git files
!.gitmodules
!.gitignore
!.gitattributes
!.git-blame-ignore-revs

## GitHub specific
!.github/

## Assets
!assets/


### BreakerRecharge Project
!BreakerRecharge/
!BreakerRecharge.sln
BreakerRecharge/[Bb]in/
BreakerRecharge/[Oo]bj/

# Explicit exceptions/ignores
**.user
